version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: my_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"   # Expose MongoDB to localhost
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
